<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation for {{APP_NAME}}</title>
</head>

<body>
    <div>
        <h1>{{APP_NAME}} Account Activation</h1>
        <p>Dear {{name}},</p>
        <p>Thank you for registering on our website {{APP_NAME}}.</p>
        <p>To access your new account, please activate it by clicking the button below:</p>
        <p style="text-align: center;">
            <a href="{{website}}/me/account-activation/{{token}}"
                style="display: inline-block; background-color: #007BFF; color: #fff; padding: 12px 24px; text-decoration: none; border-radius: 4px; transition: background-color 0.3s ease;">
                Activate Account
            </a>
        </p>
        <p>After clicking the button, you will be redirected to the activation page on our website.</p>
        <p>If you have any questions or need assistance, feel free to contact our support team.</p>
        <p>Best regards,</p>
        <p>The {{APP_NAME}} Team</p>
    </div>
</body>

</html>