<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP code for {{APP_NAME}}</title>
</head>

<body>
    <div>
        <h1>{{APP_NAME}} Password Reset</h1>
        <p>Dear {{name}},</p>
        <p>We received a request to get an OTP code for 2FA for your {{APP_NAME}} account.</p>

        <h2>Your OTP Code</h2>
        <p><strong><span style="font-size: 18px; color: blue;">{{code}}</span></strong></p>

        <p>Enter this code on the 2FA verification page to complete the verification process.
        </p>

        <p>If you did not initiate this 2FA verification process or believe this email was sent in error, please ignore
            it.</p>
        <p>This OTP code is valid for a limited time for security purposes. If you don't use the OTP code within a
            certain period, you may need to request a new one.</p>
        <p>If you need any assistance or have further questions, please don't hesitate to contact our support team.</p>
        <p>Best regards,</p>
        <p>The {{APP_NAME}} Team</p>
    </div>
</body>

</html>