<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset for {{APP_NAME}}</title>
</head>

<body>
    <div>
        <h1>{{APP_NAME}} Password Reset</h1>
        <p>Dear {{name}},</p>
        <p>We received a request to reset your password for your {{APP_NAME}} account.</p>
        <p>To proceed with the password reset, please click the button below:</p>
        <p style="text-align: center;">
            <a href="{{website}}/reset-password/{{token}}"
                style="display: inline-block; background-color: #007BFF; color: #fff; padding: 12px 24px; text-decoration: none; border-radius: 4px; transition: background-color 0.3s ease;">
                Reset Password
            </a>
        </p>
        <p>If you did not initiate this password reset or believe this email was sent in error, please ignore it.</p>
        <p>This link is valid for a limited time for security purposes. If you don't reset your password within a
            certain period, you may need to request a new reset link.</p>
        <p>If you need any assistance or have further questions, please don't hesitate to contact our support team.</p>
        <p>Best regards,</p>
        <p>The {{APP_NAME}} Team</p>
    </div>
</body>

</html>