{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 80,
  "tabWidth": 2,
  "sortingMethod": "lineLength",
  "plugins": ["prettier-plugin-sort-imports/dist/index.js"]
}
